<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="/assets/styles/style.css">
</head>
<body>
<ul class="navbar">
    <li class="navbar"><a class="navbar" th:href="@{/products}">Products</a></li>
    <li sec:authorize="!isAuthenticated()" class="navbar"><a class="navbar" th:href="@{/login}">Login</a></li>
    <li sec:authorize="!isAuthenticated()" class="navbar"><a class="navbar" th:href="@{/register}">Register</a></li>
    <li class="navbar"><a class="navbar" th:href="@{/cart}">Cart</a></li>
    <li sec:authorize="isAuthenticated()" class="navbar"><a class="navbar" th:href="@{/logout}">Logout</a></li>
</ul>

<form action="/register" method="post" th:object="${user}">
    <table>
        <tr>
            <td>
                <input type="text" name="username" th:field="*{username}" placeholder="username...">
            </td>
        </tr>
        <tr>
            <td>
                <input type="password" name="password" placeholder="password...">
            </td>
        </tr>
        <tr>
            <td>
                <input type="password" name="passwordRepeat" placeholder="repeat password...">
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Register">
            </td>
        </tr>
    </table>
</form>
</body>
</html>
